# Unity generated
*.meta
!*.asmdef.meta
!package.json.meta

# Visual Studio / MonoDevelop generated
.vs/
.vscode/
*.csproj
*.sln
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini